.flex-container {
    padding: 20px;
}

#person-card {
    margin-top: 10px;
    margin-bottom: 100px;
}

#small-search {
    height: 350px;
    overflow: scroll;
}

#person-list {
    height: 750px;
    overflow: scroll;
}

#small-person-card {
    height: 100px;
}

.person-icon {
    width: 100px;
    height: 100px;
    margin-left: 50px;
}

.card-title {
    margin-right: 50px;
}

.large-person-icon {
    width: 150px;
    height: 150px;
    margin-left: 50px;
}
