
.info {
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  
  input {
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #d6d1d5;
  }
  
  button {
    min-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  
  input.error {
    border: 1px solid #EADAE4;
  }
  
  .error {
    color:#db2269;
    font-size: 0.625em;
    display: relative;
  }
  
  .forename,
  .surname,
  .dob,
  .birthPlace,
  .houseNumber,
  .houseName,
  .street,
  .town,
  .postcode {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .form-size{
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  .form-header{
    text-align: center;
  }

  .form-status{
    text-align: center;
  }
